<div class="row">
     <h1>Experiencia laboral</h1>
     <div class="col-lg-1"> </div>
     <div class="col-lg-11">
            <ul>
                <li>
                <h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum corporis veritatis, voluptatibus recusandae tempore ut quas provident similique atque voluptates perferendis aut dicta aliquam fugit placeat repudiandae quidem? Esse.
                </p>
            </ul>
            <ul>
                <li>
                <h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum corporis veritatis, voluptatibus recusandae tempore ut quas provident similique atque voluptates perferendis aut dicta aliquam fugit placeat repudiandae quidem? Esse.
                </p>
            </ul>
            <ul>
                <li>
                <h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eum corporis veritatis, voluptatibus recusandae tempore ut quas provident similique atque voluptates perferendis aut dicta aliquam fugit placeat repudiandae quidem? Esse.
                </p>
            </ul>
     </div>
</div>